ssh_public_key    = "ssh-ed25519 AAAA... you@example.com"
semaphore_version = "2.18.8"

cloudflare_api_token = "cfat_..."
parent_domain        = "domain.com"

db_password                     = "change-me-postgres"
redis_password                  = "change-me-redis"
semaphore_admin_password        = "change-me-admin"
semaphore_cookie_hash           = "+lRKN9gsv77gTNZQUghskEh8I0pJh4ejKuKxJqFb3lo="
semaphore_cookie_encryption     = "FQR1/5H9tqFN2i/QW6c/k7sp1Hs4ybqaeLIp9CkIqiU="
semaphore_access_key_encryption = "azTfbQpcVmKjCrqWCScD0A3EhjL+DYv7COCL8JiREuk="
