prefix = "stand2gcp"
web_root  = "https://lb.stand2gcp.semaphoreui.dev"
runners = {
  "ci-eu"  = { name = "runner1", region = "europe-west3", zone = "a" }
  "ci-us"  = { name = "runner2", region = "us-central1", zone = "a" }
  "deploy" = { name = "runner3", region = "asia-east1", zone = "a" }
}
