TF_VAR_semaphore_version="2.18.9"

TF_VAR_parent_domain="domain.com"

TF_VAR_db_password="change-me-postgres"
TF_VAR_redis_password="change-me-redis"
TF_VAR_semaphore_admin_password="change-me-admin"
TF_VAR_semaphore_cookie_hash="+lRKN9gsv77gTNZQUghskEh8I0pJh4ejKuKxJqFb3lo="
TF_VAR_semaphore_cookie_encryption="FQR1/5H9tqFN2i/QW6c/k7sp1Hs4ybqaeLIp9CkIqiU="
TF_VAR_semaphore_access_key_encryption="azTfbQpcVmKjCrqWCScD0A3EhjL+DYv7COCL8JiREuk="

TF_VAR_cloudflare_api_token="cfat_..."
TF_VAR_do_token="dop_v1_..."
TF_VAR_gcp_project="test-stand..."
