#cloud-config
package_update: true
package_upgrade: false
packages:
  # psql is used to serialize schema migrations across nodes via an advisory lock.
  - postgresql-client
  - jq
  - curl
  - software-properties-common

runcmd:
  - add-apt-repository -y --update ppa:ansible/ansible
  - DEBIAN_FRONTEND=noninteractive apt-get install -y ansible
